@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

/* header */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #674400; */
   
 
 }
 body{
    background-color: rgb(255, 246, 230);
 }


 /* header */
 .gora {
   width: 100%;
   height: 20px;
   display: block;
   background-color: #000000;
   position: fixed;
   box-shadow: var(--box-shadow);
   z-index: 10000;
}
.gora .nazwa{
   color: white;
   float: right;
   font-size: 14;
   padding-right: 20px;
}

 .header {
    padding-top: 18px;
    width: 100%;
    height: 120px;
    display: block;
    background-color: #452e00;
    position: fixed;
    box-shadow: var(--box-shadow);
    border-bottom: 1px solid white;
    z-index: 10;
 }

 
 .inner_header {
    width: 75%;
    height: 100%;
    display: block;
    margin: 0 auto;

 
 }


 .navigatione li span:hover {
   /* background: #674400;
   transition: .3s;
   cursor: pointer; */
}
.navigatione li .active:hover {
   background: #674400;
   transition: .3s;
   cursor: pointer;
}

.navigatione .active:hover {
   background: #674400;
   transition: .3s;
   cursor: pointer;
   
}

.logo_container h1:hover {
   background: #674400;
   transition: .3s;
   cursor: pointer;
}

 
 .logo_container {
    width: 200px;
    text-align: center;
    height: 100%;
    display: table;
    float: left;
    padding-top: 25px;
 }
 
 .navigatione {
    float: right;
    height: 100%;

 }
 .navigatione .li1:hover{
    background-color: #674400;
    transition: .3s;
    border-radius: 5px 5px 5px 5px;

 }

 .navigatione .li2:hover{
   background-color: #674400;
   cursor: pointer;
   transition: .3s;
   border-radius: 5px 5px 5px 5px;

}
 .navigatione .li3:hover{
   cursor: auto;

}

 .navigatione li {
    vertical-align: middle;
    display: table;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 28px;
    width: 200px;
    height: 100%;
    color: wheat;
    border: 1px solid #232323;
    font-size: 17px;
    text-align: center;
   

 }
 .navigatione .li2{
   vertical-align: middle;
   display: table;
   float: left;
   padding-right: 10px;
   padding-left: 10px;
   padding-top: 28px;
   width: 100px;
   height: 100%;
   color: wheat;
   border: 1px solid #232323;
   font-size: 17px;
   text-align: center;
  

}
 .navigatione li a{
    color: wheat;;
   
 }
 .logo a {
     color: wheat;
 }


 footer {
   font-size: 0.8rem;
   text-align: right;
   color: rgb(0, 0, 0);
   padding: 10px;
   clear: both;
   padding-top: 50px;
}
footer a{
   color: #674400;
}

 /* header koniec*/
 /* logowanie*/


 .formularz{
   color: #674400;
   background-color: rgb(255, 246, 230);
   text-align: center;
   margin: auto;
   width: 25%;
   font-size: 18px;
}

.formularz .ramka h1{
   color: #674400;
   font-weight: 600;
}

.edytuj{
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  /* border: 2px solid white; */
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 40%;
  height: 200px;
  padding-bottom: 20px;
  
}


.form-control {
   display: block;
   width: 100%;
   height: calc(2.25rem + 2px);
   padding: .375rem .75rem;
   font-size: 1rem;
   line-height: 1.5;
   background-clip: padding-box;
   border-radius: .25rem;
   box-shadow: 3px 3px 7px rgb(39, 39, 39);
   background-color: #000000;
   color: #674400;
}

.form-group{
   text-align: left;
}



.btndodaj{
  color: wheat;
  font-size: 18px;
  background: #674400;;
  /* display: inline-block;
  width: min-content;
  white-space: nowrap; */
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 5px;
  line-height: 1.7;
  
  text-transform: uppercase;
  text-align: right;
  border-radius: 5px 5px 5px 5px;
  font-weight: 600;
  
 
}


.loginbutton{
    text-align: right;
    padding-right: 20px;
}

.utworz{
    padding-left: 20px;
    font-size: 16px;
    text-align: left;
    padding-top: 20px;
    color: rgb(255, 255, 255);
}

.utworz a{
    font-weight: 600;
    color: #e7c800;
}

 /* logowanie koniec*/

 /* index*/


 .glowna{
   width: 100%;
   padding: 100px;
 }
 .glowna .ramka1{
   padding: 20px;
    width: 45%;
    float: left;
    border: 2px solid #674400;
 }
 .glowna .ramka2{
   padding: 30px;
   width: 45%;
   
   float:  right ;
  
 }
 .glowna .ramka1 .column .image-resize {
   height: 120px;
   width: 15%;
   border-radius: 1%;
   box-shadow: var(--box-shadow);
   border-radius: 1%;
   overflow: hidden;
   object-position: center center;
   object-fit: cover;
   float: left;
}
.ramka1 .ramka{
   padding: 20px;
   padding-bottom: 75px;
   border: 1px solid black;
   border-bottom: none;
}
.ramka1 .ramka:last-child{
   border-bottom: 1px solid black;
}


.ramka1 .ramka .tekst{
   
   padding-left:25px;
   padding-top: 30px;
  
   width: 60%;
   float: left;
}
.button1{
   
   padding-top: 35px;
}

.button1 .btnzobacz{
      color: white;
      font-size: 22px;
      background: #533200;;
      /* display: inline-block;
      width: min-content;
      white-space: nowrap; */
      border: 1px solid transparent;
      border-radius: 3px;
      padding: 10px;
      line-height: 1.7;
      
      text-transform: uppercase;
      text-align: right;
      border-radius: 5px 5px 5px 5px;
      font-weight: 600;
      clear: both;
      width: 6%;
      
     
   
}

.ramka1 .ramka .column{
  
}



 /* index koniec*/